:root {
  --primary-bg: #ffffff;
  --secondary-bg: #f8f9fa;
  --header-bg: #ffffff;
  --text-color: #212529;
  --accent-color: #008080; /* Darker Teal */
  --border-color: #dee2e6;
  --link-color: #008080;
  --link-hover-color: #005959;
  --light-yellow: #fffff0; /* Light Yellow */
}

body.dark {
  --primary-bg: #121212;
  --secondary-bg: #1e1e1e;
  --header-bg: #1e1e1e;
  --text-color: #e0e0e0;
  --accent-color: #26a69a; /* A teal shade for dark mode */
  --border-color: #2c2c2c;
  --link-color: #26a69a;
  --link-hover-color: #00796b;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--primary-bg);
  margin: 0;
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: var(--link-hover-color);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 600;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}
